.list-group-item:hover {
    background-color: rgb(0, 140, 255);
    color: white;
}

#op, .list-group {
    height: 295px;
    -webkit-box-shadow: 13px 14px 31px -11px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 13px 14px 31px -11px rgba(0, 0, 0, 0.56);
    box-shadow: 13px 14px 31px -11px rgba(0, 0, 0, 0.56);

}

#resultado {
    position: relative;
    bottom: 9em;
    left: 44em;
}

body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}